 <div class="row">
    <div class="four columns">
      <img src="/assets/about.png" />
    </div>
    <div class="eight columns">
      <h3>A Cookie Story</h3>

      <p>Cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies.</p>

      <p>Cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies.</p>

      <p>Cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies cookies.</p>

    </div>
  </div>

   <div class="row button_padding">
    <div class="twelve columns">
      <button class="round button start_order"><%= link_to "Start Order", page_path("dough_order") %></button>
    </div>
  </div>




