<div class="row">
  <div class="twelve columns">
    <h3>Cookie Dough Checkout</h3>
  </div>
</div>

<form>
  <div class="row form_rows"><label>Delivery Address</label></div>

  <div class="row form_rows"><input type="text" placeholder="Name" /></div>
  <div class="row form_rows"><input type="text" placeholder="Email" /></div>
  <div class="row form_rows"><input type="text" placeholder="Phone number" /></div>

   <div class="row form_rows">
    <div class="nine columns">
      <input type="text" placeholder="Street" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="Apt." />
    </div>
  </div>

  <div class="row form_rows">
    <div class="six columns">
      <input type="text" placeholder="City" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="State" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="ZIP" />
    </div>
  </div>

  <div class="row form_rows"><label>Billing Address</label></div>

  <div class="row form_rows"><input type="text" placeholder="Name" /></div>
  <div class="row form_rows"><input type="text" placeholder="Phone number" /></div>

   <div class="row form_rows">
    <div class="nine columns">
      <input type="text" placeholder="Street" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="Apt." />
    </div>
  </div>

  <div class="row form_rows">
    <div class="six columns">
      <input type="text" placeholder="City" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="State" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="ZIP" />
    </div>
  </div>

<div class="row form_rows"><label>Payment Details</label></div>
<div class="row form_rows"><input type="text" placeholder="Credit card number" /></div>
 <div class="row form_rows">
    <div class="six columns">
      <input type="text" placeholder="Name on card" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="expiration date" />
    </div>
    <div class="three columns">
      <input type="text" placeholder="CVV" />
    </div>
  </div>
<div class="row form_rows"><label>Special Instructions</label></div>
<div class="row form_rows"><textarea></textarea></div>
<div class="row submit_button"><button class="round button"><%= link_to "Bring me the dough, please!", page_path("confirmation") %></button><div>
</form>