<div class="row">
  <div class="twelve columns">
    <h6>ORDER CONFIRMATION</h6>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h3>Hooray, your dough is on its way!</h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <button class="round button confirmation_button"><%= link_to "Start New Order", page_path("dough_order") %></button>
  </div>
</div>

