<div class="row">
  <div class="twelve columns">
    <h3>Your Cookie Dough Order</h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h5 id="order_instructions">For each order select one type of dough and as many mixins and toppings as you like. We'll stir your mixins into the dough. Toppings arrive separately and can be added before or after baking. Consult the recipe card included in your order for specific instructions.</h5>
  </div>
</div>

<form class="custom">
  <div class="row row_padding">
    <h5>Select cookie dough:</h5>
    <div class="three columns">
      <label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio"></span> Classic - chewy</label>
      <label for="radio2"><input name="radio1" type="radio" id="radio2" style="display:none;"><span class="custom radio checked"></span> Classic - crispy</label>
      <label for="radio3"><input name="radio1" type="radio" id="radio3" style="display:none;"><span class="custom radio"></span> Chocolate</label>
    </div>
    <div class="three columns">
      <label for="radio4"><input name="radio1" type="radio" id="radio4" style="display:none;"><span class="custom radio"></span> Sugar</label>
      <label for="radio5"><input name="radio1" type="radio" id="radio5" style="display:none;"><span class="custom radio"></span> Peanut butter</label>
      <label for="radio6"><input name="radio1" type="radio" id="radio6" style="display:none;"><span class="custom radio"></span> Oatmeal</label>
    </div>
    <div class="six columns">
    </div>
  </div>

    <!-- Custom Checkbox -->
  <div class="row row_padding">
    <h5>Select mixins:</h5>
    <div class="three columns">
      <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Chocolate chips</label>
      <label for="checkbox2"><input type="checkbox" id="checkbox2" style="display: none;"><span class="custom checkbox"></span> White chocolate chips</label>
      <label for="checkbox3"><input type="checkbox" id="checkbox3" style="display: none;"><span class="custom checkbox"></span> Peanut butter cups</label>
    </div>
    <div class="three columns">
      <label for="checkbox4"><input type="checkbox" id="checkbox4" style="display: none;"><span class="custom checkbox"></span> Macadamia nuts</label>
      <label for="checkbox5"><input type="checkbox" id="checkbox5" style="display: none;"><span class="custom checkbox"></span> Walnuts</label>
      <label for="checkbox6"><input type="checkbox" id="checkbox6" style="display: none;"><span class="custom checkbox"></span> Raisins</label>
    </div>
    <div class="three columns">
      <label for="checkbox7"><input type="checkbox" id="checkbox7" style="display: none;"><span class="custom checkbox"></span> Fudge swirl</label>
      <label for="checkbox8"><input type="checkbox" id="checkbox8" style="display: none;"><span class="custom checkbox"></span> Caramel swirl</label>
      <label for="checkbox9"><input type="checkbox" id="checkbox9" style="display: none;"><span class="custom checkbox"></span> Butterfinger bits</label>
    </div>
    <div class="three columns">
    </div>
  </div>


  <div class="row row_padding">
    <h5>Select toppings:</h5>
    <div class="three columns">
      <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Buttercream frosting</label>
      <label for="checkbox2"><input type="checkbox" id="checkbox2" style="display: none;"><span class="custom checkbox"></span> Sea salt</label>
      <label for="checkbox3"><input type="checkbox" id="checkbox3" style="display: none;"><span class="custom checkbox"></span> Rainbow sprinkles</label>
    </div>
    <div class="three columns">
      <label for="checkbox4"><input type="checkbox" id="checkbox4" style="display: none;"><span class="custom checkbox"></span> Cinnamon crumble</label>
      <label for="checkbox5"><input type="checkbox" id="checkbox5" style="display: none;"><span class="custom checkbox"></span> Graham cracker crumble</label>
      <label for="checkbox6"><input type="checkbox" id="checkbox6" style="display: none;"><span class="custom checkbox"></span> Thin mint crumble</label>
    </div>
    <div class="three columns">
      <label for="checkbox7"><input type="checkbox" id="checkbox7" style="display: none;"><span class="custom checkbox"></span> Hershey kisses</label>
      <label for="checkbox8"><input type="checkbox" id="checkbox8" style="display: none;"><span class="custom checkbox"></span> M&Ms - plain</label>
      <label for="checkbox9"><input type="checkbox" id="checkbox9" style="display: none;"><span class="custom checkbox"></span> M&Ms - peanut butter</label>
    </div>
    <div class="three columns">
    </div>
  </div>


  <div class="row row_padding">
    <h5>Select baking supplies:</h5>
    <div class="three columns">
      <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Baking sheet</label>
      <label for="checkbox2"><input type="checkbox" id="checkbox2" style="display: none;"><span class="custom checkbox"></span> Spatula</label>
      <label for="checkbox3"><input type="checkbox" id="checkbox3" style="display: none;"><span class="custom checkbox"></span> Wire cooling rack</label>
    </div>
    <div class="three columns">
      <label for="checkbox4"><input type="checkbox" id="checkbox4" style="display: none;"><span class="custom checkbox"></span> Rolling pin</label>
      <label for="checkbox5"><input type="checkbox" id="checkbox5" style="display: none;"><span class="custom checkbox"></span> Oven mitt</label>
      <label for="checkbox6"><input type="checkbox" id="checkbox6" style="display: none;"><span class="custom checkbox"></span> Apron</label>
    </div>
    <div class="three columns">
      <label for="checkbox7"><input type="checkbox" id="checkbox7" style="display: none;"><span class="custom checkbox"></span> Cut-out shape - heart</label>
      <label for="checkbox8"><input type="checkbox" id="checkbox8" style="display: none;"><span class="custom checkbox"></span> Cut-out shape - star</label>
      <label for="checkbox9"><input type="checkbox" id="checkbox9" style="display: none;"><span class="custom checkbox"></span> Cut-out shape - moon</label>
    </div>
    <div class="three columns">
    </div>
  </div>

  <div class="row row_padding">
    <h5>Select same day delivery time:</h5>
    <div class="twelve columns">
      <select style="display:none;" id="customDropdown">
        <option SELECTED>6-7pm</option>
        <option>7-8pm</option>
        <option>8-9pm</option>
        <option>9-10pm</option>
        <option>10-11pm</option>
        <option>11pm-12am</option>
      </select>
      <div class="custom dropdown">
        <a href="#" class="current">
          Delivery times:
        </a>
        <a href="#" class="selector"></a>
        <ul>
          <li>6-7pm</li>
          <li>7-8pm</li>
          <li>8-9pm</li>
          <li>9-10pm</li>
          <li>10-11pm</li>
          <li>11pm-12am</li>
        </ul>
      </div>
      <br>
      <button class="round button order_button"><%= link_to "Add order to my cookie jar!", page_path("checkout") %></button>
    </div>
  </div>

</form>








