<div class="row">
  <div class="twelve columns">
    <h3>Cookie Dough Ingredients</h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h5>For each order select one type of dough and as many mixins and toppings as you like.</h5>
  </div>
</div>

<div class="row row_padding">
  <div class="three columns">
    <h5>Cookie Doughs:</h5>
    <ul>
      <li class="has-tip tip-top" data-width="150" title="Our signature dough, a crowd favorite!">Classic - chewy</li>
      <li class="has-tip tip-top" data-width="150" title="A crispier version of the classic">Classic - crispy</li>
      <li class="has-tip tip-top" data-width="150" title="Rich and decadent">Chocolate</li>
      <li class="has-tip tip-top" data-width="150" title="Perfect for rolling cut-out cookies">Sugar</li>
      <li class="has-tip tip-top" data-width="150" title="Go nuts">Peanut butter</li>
      <li class="has-tip tip-top" data-width="150" title="Rolled oats never tasted so good">Oatmeal</li>
    </ul>
  </div>
  <div class="three columns">
    <h5>Toppings:</h5>
    <ul>
      <li>Buttercream frosting</li>
      <li>Sea salt</li>
      <li>Rainbow sprinkles</li>
      <li>Cinnamon crumble</li>
      <li>Graham cracker crumble</li>
      <li>Thin mint crumble</li>
      <li>Hershey kisses</li>
      <li>M&Ms - plain</li>
      <li>M&Ms - peanut butter</li>
    </ul>
  </div>
  <div class="three columns">
    <h5>Mixins:</h5>
    <ul>
      <li>Chocolate chips</li>
      <li>White chocolate chips</li>
      <li>Peanut butter cups</li>
      <li>Macadamia nuts</li>
      <li>Walnuts</li>
      <li>Raisins</li>
      <li>Fudge swirl</li>
      <li>Caramel swirl</li>
      <li>Butterfinger bits</li>
    </ul>
  </div>
  <div class="three columns">
    <h5>Baking Supplies:</h5>
    <ul>
      <li>Baking sheet</li>
      <li>Spatula</li>
      <li>Wire cooling rack</li>
      <li>Rolling pin</li>
      <li>Oven mitt</li>
      <li>Apron</li>
      <li>Cut-out shape - heart</li>
      <li>Cut-out shape - star</li>
      <li>Cut-out shape - moon</li>
    </ul>
  </div>
</div>