<div class="row">
  <div class="twelve columns">
    <h3>Instructions</h3>
  </div>
</div>

<div class="row">

    <div class="three mobile-two columns">
      <img src="/assets/instructions4.png">
      <div class="panel">
        <p>Refrigerate cookie dough until ready to use. Preheat oven to 375 degrees and make sure you have milk in your fridge.</p>
      </div>
    </div>

    <div class="three mobile-two columns">
      <img src="/assets/instructions1.png">
      <div class="panel">
        <p>Place 1-inch spoonfuls of cookie dough onto ungreased baking sheet. Bake 10-12 minutes, checking frequently as ovens vary. </p>
      </div>
    </div>

    <div class="three mobile-two columns">
      <img src="/assets/instructions2.png">
      <div class="panel">
        <p>Carefully remove cookies from oven and let cool five minutes. Using a spatula, transfer cookies to wire rack and let cool until ready to eat.</p>
      </div>
    </div>

    <div class="three mobile-two columns">
      <img src="/assets/instructions3.png">
      <div class="panel">
        <p>Toppings can be added before or after baking. Consult the recipe card included in your order for specific instructions.</p>
      </div>
    </div>

</div>

<div class="row">
  <div class="twelve columns">
    <button class="round button start_order"><%= link_to "Start Order", page_path("dough_order") %></button>
  </div>
</div>
