<footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Chloe Stinetorf 2013</p>
        </div>
        <div class="six columns">
        </div>
      </div>
    </div>
  </footer>