<h1>Stock Price Lookup:</h1>
<br/>
<h3>Enter a stock symbol:</h3>

<div id='form'>
  <form action='/price' method='get'>
  <input type="text" name="symbol" autofocus>
  </br>
  <button class ="btn btn-primary">Get Quote!</button>
</form>

