@import url(http://fonts.googleapis.com/css?family=Raleway);

.box
{
  height: 50px;
  width: 50px;
  float: left;
  border: 4px dashed #2F698E;
  background-color: white;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

body
{
  font-family: 'Raleway', sans-serif;
  padding-left: 250px;
  padding-right: 400px;
  background-color: #B3E0E6;
}

h1
{
  font-size: 48px;
}

.clear
{
  clear: both;
}