<form method='post' action='/mountains'>
  <input type='text' name='mountain[name]' placeholder='name' autofocus>
  <input type='text' name='mountain[image]' placeholder='image'>
  <input type='text' name='mountain[range]' placeholder='range'>
  <input type='text' name='mountain[country]' placeholder='country'>
  <input type='text' name='mountain[elevation]' placeholder='elevation'>
  <button>Save Mountain!</button>
</form>
