<footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright Chloe Stinetorf 2013</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">New User</a></li>
            <li><a href="/users">All Users</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>