<div class="row">
    <div class="twelve columns">
      <ul class="nav-bar right">
        <li><a href="/login">Login</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users/new">New User</a></li>
        <li><a href="/users">All Users</a></li>
        <li><%= link_to('Priorities', priorities_path) %></li>
        <li><%= link_to('Tasks', tasks_path) %></li>
        <li><%== smartnav %></li>
      </ul>
    </div>
  </div>