@import url(http://fonts.googleapis.com/css?family=Syncopate|Oxygen+Mono);

/*font-family: 'Syncopate', sans-serif;
font-family: 'Oxygen Mono', sans-serif;*/

h1
{
  font-family: 'Syncopate', sans-serif;
  font-size: 64px;
  padding-top: 75px;
  padding-left: 65px;
}

h3
{
  font-family: 'Syncopate', sans-serif;
  font-size: 36px;
  padding-top: 25px;
  padding-left: 65px;
}

h6
{
  font-size: 14px;
  padding-left: 65px;
}

p
{
  padding-left: 77px;
  width: 600px;
}

img
{
  padding-top: 25px;
  padding-left: 65px;
}

form
{
  padding-left: 65px;
}


