@import url(http://fonts.googleapis.com/css?family=Gudea);

.hide
{
  display: hidden;
}

.clear
{
  clear: both;
}

img
{
  width: 100px;
}

li
{
  list-style-type: none;
}

.user_box
{
  width: 200px;
}

#initiate_lookup
{
  margin-bottom: 15px;
  margin-top: 5px;
}

#map_canvas
{
  height: 500px;
  width: 500px;
}

h1, h3
{
  font-family: 'Gudea', sans-serif;
}



