<h1>Movie Lookup:</h1>
<br/>
<h3>Enter a movie title:</h3>

<form action='/poster' method='get'>
  <input type="text" name="movie" autofocus>
</br>
  <button class ="btn btn-primary">Get movie!</button>
</form>