 <% if @movie_hash %>
    <h3 class='details'>Title: <%= @movie_hash['Title'] %></h3>
    <h3>Year: <%= @movie_hash['Year'] %></h3>
    <h3>Rated: <%= @movie_hash['Rated'] %></h3>
    <img id='movie_poster' src='<%= @movie_hash['Poster'] %>'>
  <% end %>